/* Normalize / Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; /* Default base font size */
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  color: #333;
  background-color: #c40000;
  min-height: 100vh;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}